* {
  transition: .5s;
}
/*Layout tweaks:*/
@media(min-width: 769px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media(max-width: 768px) {
  .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-body {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 30px;
  padding-bottom: 40px;
}

section:last-of-type {
  padding-bottom: 50px;
}

footer .footer-above {
  padding-top: 10px;
  padding-bottom: 20px;
}

footer .footer-col {
  margin-bottom: 0;
}

#contact > div > div > div > div:nth-child(3) > ul > li > a {
  margin-top: 0;
  position: relative;
  top: -10px;
}

.project-header {
  margin-bottom: 20px;
}

.project-row {
  margin-top: 30px;
}

/*Color & Images:*/
body {
  background-attachment: fixed;
  /*background-color: rgb(235,235,235);*/
  background-color: #d8dadc;
}

.header-container {
  width: 100%;
}

header {
  min-height: 100vh;
  background-color: rgb(235,235,235);
  color: #222222;
  transition: .5s;
}

#about {
  background-color: rgb(235,235,235);
  color: #222222;
}

#portfolio {
  background-color: rgb(235,235,235);
  color: #222222;
}

#skills {
  background-image: url('../images/linedpaper.png');
  background-color: #bbbbbb;
  color: #222222;
}

footer .footer-above, .footer-below {
  background-color: #4e5d6c;
}

footer a {
  color: white;
}

.btn {
  border-color: rgba(0,0,0,0);
  background-color: #DF691A;
  color: #ffffff;
}

.btn:hover {
  background-color: #b15315;
  border-color: rgba(0,0,0,0);
  color: #ffffff;
}

/*Typography:*/
h2 {
  text-transform: none;
  font-weight: bold;
}

header .intro-text * {
  color: #323c46;
}

header .intro-text>.name {
  font-family: 'Special Elite', Georgia, Times, serif;
  text-transform: none;
  font-weight: normal;
}

@media(max-width: 768px) {
  section h2 {
    font-size: 2em;
  }
}

.intro-text, .name, .nav, .navbar-brand, h2, h3, h4, h5 {
  font-family: 'Quattrocento', Georgia, Times, serif;
}

.section-title {
  text-transform: none;
  text-shadow: 2px 2px 4px rgba(50, 50, 50, .75);
}

h4 {
  text-transform: none;
}

.nav > li > a {
  font-size: 14px;
}

.lead, p, h6 {
  font-family: 'Quattrocento Sans', Georgia, Times, serif;
}

h6 {
  text-transform: none;
  font-size: 16px;
}

.navbar-brand {
  text-transform: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.modal-title {
  text-transform: none;
}

@media(min-width: 769px) {
  header .intro-text .name {
    font-size: 66px;
  }

  header .intro-text>.skills {
    font-size: 28px;
  }
}

@media(max-width: 768px) {
  header .intro-text .name {
    font-size: 44px;
  }
}

header, header a, header a:active, header a:hover, header a.active, header a:focus {
  color: #39444e;
}

#skills, #skills a {
  color: #39444e;
}

#about a {
  color: rgb(235,235,235);
}

.project-header * {
  margin-top: 0;
  margin-bottom: 8px;
}

@media(min-width: 769px) {
  .reading-text, .reading-text * {
    font-size: 18px;
  }

  .project-title {
    font-size: 30px;
  }
}

/*Project Modals:*/

.modal-dialog {
  width: 90%;
  max-width: 1300px;
}

@media (max-width: 991px) {
  .modal-dialog {
    width: 98%;
  }
}

.project-modal__description {
  background-color:rgba(25,25,25,0.4);
  border-radius: 5px;
  padding: 12px;
  margin: 0;
}

.project-modal__description h3 {
  margin-top: 0;
}

.project-modal__description p {
  font-size: 16px;
}

.project-modal__image {
  box-shadow: 0 0 0.5em 0.2em #333;
  border: 1px solid #333;
}

.project-modal__image img {
  max-width: 100%;
  max-height: 100%;
}

.project-modal__button {
  margin-left: 10px;
  margin-right: 10px;
}

.project-modal__button img {
  position: relative;
  top: -2px;
  max-height: 20px;
  max-width: 20px;
}

.table tbody > tr > td {
  border-bottom: 1px solid grey;
}

.table tbody > tr > td:first-child {
  font-weight: bold;
  padding-right: 35px;
}

.portfolio-modal .modal-content p{
  text-align: left;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Project Thumbnails: */


@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

/*Misc:*/

#portfolio, #about, #skills, header {
  position: relative;
}

.mugshot {
  margin: 15px 0 15px 15px;
  float: right;
  width: 200px;
}

.mugshot {
  width: 200px; height: auto;
  float: right;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

h3 {
  text-transform: none;
}

.drop-shadow {
  -webkit-box-shadow: 2px 4px 10px 0px #555;
  -moz-box-shadow: 2px 4px 10px 0px #555;
  box-shadow: 2px 4px 5px 0px #555;
}

hr.section-hr {
  margin-top: 5px;
  margin-bottom: 30px;
  border: none;
  height: 2px;
  background-color: #dad5d5;
}

hr.small-hr {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  border-top: 3px double #8c8b8b;
  width: 130px;
}

.intro-text {
  padding: 0px 40px 40px 40px;
}

.intro-text * {
  color: #2b3e50;
}

.glyphicon-chevron-down {
  font-size: 24px;
  font-weight: normal;
}

#portfolio .button-set {
  margin-top: 20px;
}

.grey-box {
  background-color: #c5d3e0;
  padding: 20px 15px;
}

.grey-box h3 {
  margin-top: 0;
}

.skills-table {
  font-size: 16px;
}

td:nth-child(2) {
  text-align: right;
}

@media(max-width: 991px) {
  .skills-box {
    margin-top: 20px;
  }
}

.resume-btn-mobile {
  margin-top: 20px;
}

@media (min-width: 992px) {
  #about {
    padding-top: 0;
  }
}

.surprised {
  width: 250px;
  margin-top: 20px;
}

.inner-door {
  background-color: rgb(0,0,0,1);
  transition: 0.8s;
  padding-top: 30px;
  padding-bottom: 20px;
}

.door {
  border-radius: 10px;
  -webkit-box-shadow: 6px 9px 10px 0px #555;
  -moz-box-shadow: 6px 9px 10px 0px #555;
  box-shadow: 6px 9px 10px 2px #555;
  transition: .5s;  
  background-color: rgb(235,235,235);
  /*background-image: url(../images/green_cup.png);*/
}

@media (max-width: 768px) {
  .door {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

.flipped {
  cursor: pointer;
  transform: rotate3d(.1,.1,1,10deg) scale(0.6);
  transform-style: preserve-3d;
  -webkit-box-shadow: -6px 9px 10px 0px #555;
  -moz-box-shadow: -6px 9px 10px 0px #555;
  box-shadow: -6px 9px 10px 4px #888;  
}

.flipped:hover {
  transition: .3s;
  transform: rotate3d(.1,.1,1,10deg) scale(0.65);
  -webkit-box-shadow: -6px 9px 10px 0px #DF691A;
  -moz-box-shadow: -6px 9px 10px 0px #DF691A;
  box-shadow: -6px 9px 10px 4px #555;  
}

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.arrow-container {
  height: 50px;
}

.fancy-hr-container {
  height: 40px;
  border: 1px solid rgba(0,0,0,0);
}

.nav-links {
  padding-top: 10px;
}

.nav-links *:hover {
  color: #DF691A;
}

.nav-links * {
  font-size: 18px;
}

hr.fancy-hr {
  border-top: 1px solid #8c8b8b;
  text-align: center;
}
hr.fancy-hr:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: rgb(235,235,235);
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  transform: rotate(50deg);
}

@media (min-width: 992px) {
  .col-left-md {
    padding-right: 22px;
  }

  .col-right-md {
    padding-left: 22px;
  }
}

@media (min-width: 769px) {
  .col-left-sm {
    padding-right: 22px;
  }

  .col-right-sm {
    padding-left: 22px;
  }
}
