/* full-site layout: */

body{
  background: url(../images/bg_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.container-body, .container-navbar {
  width: 100%;
  max-width: 1230px;
}

body>.container {
  background-color: rgba(25,25,25,.65);
}

footer {
  display: none;
  margin-top: 30px;
}

.navbar-nav {
  font-size: 1.2em;
}

.navbar {
  font-variant: small-caps;
}

.navbar-brand {
  font-size: 2em;
}

/*recurring div-styling classes:*/
.skinny {
  max-width: 900px;
  margin: 0 auto;
}

.transparent {
  background-color:rgba(255,255,255,0.1);
}

.thumbnail {
  border-radius: 5px;
}

/*Projects:*/

.projects-page {
  position: relative;
  top: -21px;
}


/*Resume*/
.resume {
  position: relative;
  top: 10px;
  border-radius: 5px;
  font-size: 1.2em;
}

.resume p, ul {
  margin-left: 20px;
}

.contact-info {
  margin-top: 0;
  // text-align: right;
}

.resume-contact-info {
  margin-top: 15px;
  text-align: right;
}

/*Home page*/
.welcome {
  padding: 10px 15px;
  border-radius: 5px;
  // min-height: 498px;
}

.projects {
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.mugshot {
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
}

.panel {
  border-radius: 5px;
}

.panel-heading {
  border-radius: 5px 5px 0 0;
}

.caption {
  text-align: center;
}

dl {
  margin-bottom: 0;
}

.hr-narrow {
  margin-bottom: 10px;
  margin-top: 0;
}

/* XS only*/
@media (max-width: 767px) {
  .description {
    margin-bottom: 0;
    top: 0;
  }
  .resume h3 {
    padding-top: 15px; 
  }
  .projects {
    margin-bottom: 20px;
  }
  .projects-page .col-xs-12 {
    : 20px;
  }
}

/* XS and SM */
@media (max-width: 991px) {
  .welcome {
    margin-bottom: 20px;
  }
}

/* XS-MD */
@media (max-width: 1199px) {
  .welcome {
    min-height: 514px;
  }
}

/* LG only */
@media (min-width: 1200px) {
  .welcome {
    min-height: 498px;
  }
}

/* Project Thumbnails: */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.portfolio-link img {
  border-radius: 5px;
  border: 3px solid #4E5D6C;
}

#portfolio .portfolio-item .portfolio-link .caption {
  border-radius: 5px;
  border: 3px solid #4E5D6C;
  background:rgba(20,20,20,.75);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  z-index: 3;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;

}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}

#portfolio * {
  /*z-index: 2;*/
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-description {
  position: relative;
  /*top: -200px;*/
  /*margin: 10px;*/
  margin-top: 10px;
  background-color:rgba(78, 93, 108, .8);
  z-index: 1;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 1.2em;
}

/*-----------------Unsorted----------------*/
a:hover {
  text-decoration: none;
}

.modal-dialog {
  width: 90%;
  max-width: 1250px;
}

@media (max-width: 991px) {
  .modal-dialog {
    width: 98%;
  }
}

.project-modal__description {
  background-color:rgba(25,25,25,0.4);
  border-radius: 5px;
  padding: 12px;
  margin: 0;
}

.project-modal__description h3 {
  margin-top: 0;
}

.project-modal__image {
  box-shadow: 0 0 0.5em 0.2em #333;
  border: 1px solid #333;
}

.project-modal__image img {
  max-width: 100%;
  max-height: 100%;
}

.project-modal__button {
  margin-left: 20px;
  margin-right: 20px;
}

.project-modal__button img {
  position: relative;
  top: -2px;
  max-height: 20px;
  max-width: 20px;
}

.table tbody > tr > td {
  border-bottom: 1px solid grey;
}

.table tbody > tr > td:first-child {
  font-weight: bold;
  padding-right: 35px;
}
